[flake8]
max-line-length = 0
exclude = .git,__pycache__,venv
ignore =
    E203,  # Whitespace before ':' (compatible with black)
    W503,  # Line break before binary operator (compatible with black)

