pandas>=2.0.3
numpy>=1.24.3
yfinance>=0.2.18
SQLAlchemy>=2.0.19
pyyaml>=6.0
statsmodels>=0.14.0
pytest>=8.0
matplotlib>=3.7.2
flake8>=7.1.1
fredapi>=0.4
black>=23.0
autoflake>=2.0
isort>=5.12
python-dotenv>=1.0
pytest-mock>=3.10
vectorbt>=0.2.4
pandas-market-calendar
pandas-datareader
pytest-mock>=3.10
coverage>=7.2
pytest-cov>=4.0